<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Adminity : Creative Admin Dashboard</title>
    <!-- ================= Favicon ================== -->
    <!-- Standard -->

    
</head>

<body>
    <table border="1">
        {% for row in dt %}        
        <tr>
            <td>{{dt[0]}}</td>
            <td>{{dt[1]}}</td>
            <td>{{dt[2]}}</td>
        </tr>
        {% endfor %}
    </table>

    

    
    

</body>

</html>